
.container {
display:grid;
grid-template-columns: 1fr;
grid-template-rows: 1fr 1fr 1fr 1fr;
gap:40px;





}

.row {
   display:flex;
   justify-content:center;

}

.timerborder {
   max-width: 400px;
   width:700px;
  border:solid black 2px;
  background-color:white;
  color:black;
  font-style: 1rem;

}

button {
    width:100px;
  margin:auto;
}

.bordz {
  border-top :solid white 3px;
}


