
.container {
display:grid;
grid-template-columns: 1fr;
grid-template-rows: 1fr 1fr 1fr 1fr;
gap:40px;





}

.row {
   display:flex;
   justify-content:center;
   height: auto;

}

.timerborder {
 
   
  border:solid black 2px;
  background-color:white;
  color:black;
  font-style: 1rem;

}

button {
    width:100px;
}
.bordz {
  border-top :solid white 3px;
}


